<tr>
    <td>{{bookID}}</td>
    <td>{{bookName}}</td>
    <td>{{category}}</td>
    <td>{{author}}</td>
    <td>{{price}}</td>
    <td><button class="updateButton">Update</button> <button class="deleteButton">Delete</button></td>
</tr>