<tr>
    <td>{{orderID}}</td>
    <td>{{customerID}}</td>
    <td>{{orderDate}}</td>
    <td>{{numOrder}}</td>
    <td>{{totalAmount}}</td>
    <td> <button onclick="deleteOrder({{orderID}})" class="deleteButton">Delete</button></td>
</tr>
